<form method="post" action="/addbanner">
<input type="text" placeholder="title" name="title"/>
<input type="text"placeholder="description" name="description"/>
<input type="submit" class="btn-hover">
</form>